numpy==1.23.4
algoliasearch==3.0.0
pandas==1.5.1
requests==2.28.2
google-cloud-storage
google-auth
google-cloud-bigquery
google-cloud-storage
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
google-api-python-client
google-auth-oauthlib
requests_oauth2client
Flask
gunicorn
aiohttp
asyncio
loguru
firebase-admin